{{ define "main" }}
<hr>
{{ .Content }}

{{- /* The homepage should show only pages from the given sections (with `$.Site.Params.mainSections`).
Otherwise, we take the pages of a section. */ -}}
{{ $pages := .Pages }}
{{ if .IsHome }}
{{ $pages = where $.Site.RegularPages "Type" "in" $.Site.Params.mainSections }}
{{ end }}

{{ range (where (.Paginate $pages).Pages "Params.hidden" "!=" true) }}
<article class="post">
    <a href="{{ .Permalink }}" aria-label="{{ .Title }}"><h1>{{ .Title }}</h1></a>
    <date datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2006-01-02" }}</date>
</article>
{{ end }}

{{ partial "pagination.html" (dict "Paginator" .Paginator "activeNumberOfPages" 2) }}
{{ end }}
