<nav aria-labelledby="primary-navigation">
    <a class="site__title" href="{{ $.Site.BaseURL }}">{{ $.Site.Title }}</a>
    <div class="site__links">
        |
        {{ range $.Site.Menus.main -}}
        <a href="{{ .URL | absURL }}">{{ .Name }}</a> |
        {{ end }}
    </div>
    <button class="site__theme-btn" aria-label="theme-toggle" onclick="const theme = window.localStorage.getItem('theme') == 'dark' ? 'light' : 'dark'; window.localStorage.setItem('theme', theme); document.documentElement.dataset.theme = theme">{{ i18n "theme_toggle" }}</button>
</nav>
